<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="currencyRate">
            <h2><span>Currency Rate</span> {{currencyRate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Currency</span></dt>
                <dd>
                    <span>{{currencyRate.currency}}</span>
                </dd>
                <dt><span>Buy Rate</span></dt>
                <dd>
                    <span>{{currencyRate.buyRate}}</span>
                </dd>
                <dt><span>Sell Rate</span></dt>
                <dd>
                    <span>{{currencyRate.sellRate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/currency-rate', currencyRate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
